.container {
    width: 100%;
    height: 110%;
    background-color: black;
}

.inner-container {
    position: absolute;
    background: url('../img/Background.jpg');
     width: 375px;
     height: 667px;
     right: 40%;
}

.app-info {
    width: 375px;
    height: 399px;
}

.login-fields {
    width: 375px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.login-fields input {
    width: 70%;
    height: 30%;
}

.login-button {
    width: 375px;
 height: 96px;
}