.container {
    width: 100%;
    height: 110%;
    background-color: black;
}

.inner-container {
    position: absolute;
    background: url('../img/Background.jpg');
     width: 375px;
     height: 667px;
     right: 40%;
}

.app-info {
    width: 375px;
    height: 399px;
}

.app-info-container {
    width: 200px;
    height: 185px;
    padding-top: 191px;
    padding-left: 55px;
}

.app-info-container h1 {
    color: white;
    font-family: arial;
    font-weight: 500;
    font-size: 40px;

}

.app-info-container h4 {
    color: white;
    font-family: arial;
    font-weight: 200;
    font-size: 12px;
}

.login-fields {
    width: 375px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-fields input {
    width: 70%;
    height: 30%;
}

.login-container {
    width: 375px;
    height: 148px;
}
.login-button {
    width: 375px;
 height: 96px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.login-button button {
    display: flex;
    text-align: center;
    position: absolute;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(238, 54, 54);
    border: none; 
    align-items: center;
}

.login-button button a {
    color: white;
    border-bottom: none;
}

h3 {
    font-size: 11px;
    font-weight: normal;
    font-family: Arial;
    color: white;
    margin-top: -20;
    margin-left: 57px;
}